<component name="libraryTable">
  <library name="spring-aop-6.1.13">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-aop-6.1.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-beans-6.1.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-context-6.1.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-context-support-6.1.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-core-6.1.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-expression-6.1.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Jar-files/spring-jcl-6.1.13.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>